@import "../../../tagger/scss/colors";

.order-details{
  color : $main-color-2 !important;
}


.no-order{
  border: 1px dashed $light-grey-color;
  text-align: center;
  padding: 40px 0;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .no-order{
    font-size: inherit;
    padding: 20px 0;
  }
}