@import "../../scss/colors";

.send-co-op-button {
  color: white !important;

  &:hover {
    background-color: white !important;
    color : $green-color !important;
    border: 1px solid $green-color;
  }
}