$main-color-1 : rgb(0, 83, 156);
$main-color-2 : #690;
$main-color-3 : rgb(85,85,85);
$input-color : rgb(0,69,131);
$red-color : #e60000;
$green-color : #690;
$grey-color : #777;
$light-grey-color : #ddd;