@import "colors";


$cards-border-radius: 12px;
.tagger-background{
  position: fixed;
  top:0;
  left:0;
  z-index: -100;
  background-color: #f3f3f3;
  height: 100%;
  width:100%;
  background-size: cover;
  }

.card-no-1{
  background: rgb(63, 81, 181) !important;
  border-radius: $cards-border-radius !important;
}
.card-no-2{
  background: rgb(38, 78, 54) !important;
  border-radius: $cards-border-radius !important;
}
.card-no-3{
  background: #85144b !important;
  border-radius: $cards-border-radius !important;
}
.card-no-4{
  background:  rgb(244,67,54) !important;
  border-radius: $cards-border-radius !important;
}

.tagger-navbar-color{
  background: $main-color-1 !important;
}


span.step {
  background: #32325d;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 2.6em !important;
  height: auto !important;
}

.pagination li.active{
  background-color: #084A81 !important;
}

.navbar-logo{
  width: 60px;
}
@media (min-width: 481px) and (max-width: 767px) {

  .navbar-logo{
    width: 53px;
  }

}
@media (min-width: 320px) and (max-width: 480px) {

  .navbar-logo{
    width: 53px;
  }
}


.black-grey-text{
  color: rgb(85,85,85) !important;
}

hr{
  border: 1px solid #f6f6f6;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: #818078;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    //color: #818078;
    background-color: #fcfcfa;
  }
}

.tagger-content-line-height{
  line-height: 1.7rem;
}