@import "../../tagger/scss/colors";

.circle-icon-number {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-family: "yekan";
  text-align: center;
  padding: 3px;
  position: relative;
  background-color: rgba(83, 156, 0, .8);
  color: white;
  font-size: 1.3rem;
}


.dropdown-content li > a, .dropdown-content li > span {
  font-family: Vazir;
}

.select-wrapper input.select-dropdown {
  font-family: Vazir;
  font-size: inherit;
}

.black-grey-text {
  color: $main-color-3 !important;
}


.material-icons.active {
  color: $input-color !important;
}


.create-order-submit-button {
  font-size: inherit;
  background-color: white;
  border: 1px solid #ed8c28;
  color: #ed8c28;
  font-weight: 500;
  width: 30%;
  box-shadow: none;
  border-radius: 12px;

  &:hover, &:active, &:focus {
    background-color: #ed8c28;
    color: white;
    box-shadow: none;
  }
}

.create-order-font-size-input {
  font-size: 14px !important;
}


.grey-text-custom {
  color: #777 !important;
}


.order-button-delete {
  color: white;
  background-color: $red-color !important;
  opacity: .8;
  width: 70%;
}

.order-button-edit {
  color: white;
  background-color: $green-color !important;
  opacity: .8;
  width: 70%;
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .order-button-delete, .order-button-edit {
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  #toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 80%;
  }
}

