@import "../../tagger/scss/colors";

.margin-x-inbox{
  margin : 0 50px 0 50px;
}
@media (max-width: 600px) {
  .margin-x-inbox{
    margin: 0 0;
  }
}

.message-line-height{
  line-height: 3rem;
}
@media (max-width: 600px) {
  .message-line-height{
    line-height: 2rem;
  }
}

.accept-message{
  color : $green-color;
  font-weight: bold;
}
.decline-message{
  color: $red-color;
  font-weight: bold;
}

.message-sender{
  color: $main-color-1;
}