@import "../../tagger/scss/colors";
table thead tr {
  //background-color: #690;
  color: $green-color;
  padding: 9px !important;
  border: 1px solid $green-color;
}

.dashed-border{
  border: 1px dashed #ddd;
  margin: 5px;
  text-align: center;
  padding: 20px 0;
}

table thead tr th, table tbody tr td{
  text-align: right !important;
  padding: 10px 5px !important;
}

table tbody tr td{
  color : $grey-color;
}

.accept-request-button{
  color: $green-color;
  font-size: inherit;
  border: 1px solid white;
  &:hover{
    border: 1px solid $green-color;
  }
}

.decline-request-button{
  color: $red-color;
  border: 1px solid white;
  font-size: inherit;
  &:hover{
    border: 1px solid $red-color;
  }
}

.no-result{
  border: 1px dashed $light-grey-color;
  margin: 5px;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .no-result{
    font-size: inherit;
  }
}

.no-border {
  border: none;
}