@import "src/containers/tagger/scss/colors";

ul.dropdown-content.dropdown-messages {
  position: fixed !important;
  width: auto !important;
  height: auto !important;
  top: 64px !important;
}


ul.mobile-collapsible .collapsible-header{
  padding: 0 !important;
  border-bottom: 0 !important;
}
ul.mobile-collapsible.collapsible{
  box-shadow: none !important;
  border: 0 !important;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1000;
  margin: 0 !important;
}

ul.mobile-collapsible a div.row{
  color: $main-color-1;
  margin: 8px 0px !important;

}
ul.mobile-collapsible a div.row i{
  font-size: 16px !important;
}