@import "../../tagger/scss/colors";

.username-style{
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 480px) {

  .username-style{
    font-size: 14px !important;
  }
}

.submit-button-edit{
  width: 15%;
  background-color: $green-color !important;
  color:white;
}

@media (min-width: 320px) and (max-width: 480px) {

  .submit-button-edit{
    width: 40%;
  }
}
.cancel-button-edit{
  width: 15%;
  background-color: $red-color !important;
  color :white;
}

@media (min-width: 320px) and (max-width: 480px) {
  .cancel-button-edit{
    width: 40%;
  }
}


//.avatar-cropper{
//  color: red;
//}
//
//.avatar-cropper div div, .avatar-cropper div div div div canvas {
//  //background-color: red;
//  width: 120px !important;
//  height: 100px !important;
//}
//
//@media (min-width: 320px) and (max-width: 480px) {
//
//  .avatar-cropper div div, .avatar-cropper div div div div canvas {
//    //background-color: red;
//    width: 100px !important;
//    height: 100px !important;
//  }
//}
//
//.avatar-cropper div div div div canvas {
//  //width: 100% !important;
//  //height: 100% !important;
//  //position: inherit !important;
//}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.centered-icon {
  font-size: 50px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.white-space-prewrap{
  white-space: pre-wrap;
}

.submit-order-button {
  width: 80%;
  background-color: $green-color;
  color: white;
  &:hover{
    background-color: white;
    color: $green-color;
    border: 1px solid $green-color;
  }
}

.edit-profile-button{
  width: 80%;
  background-color: white;
  color : $grey-color;
  border: 1px solid $grey-color;
  &:hover{
    background-color: $grey-color ;
    color: white;
  }
}


.exit-button{
  width: 80%;
  background-color: white;
  color: $red-color;
  border: 1px solid $red-color;
  &:hover{
    color: white;
    border: 1px solid $red-color;
    background-color: $red-color ;
  }
}