@font-face {
  src : url("./fonts/Shabnam.ttf");
  font-family: myFont;
}
@font-face {
  src: url("./fonts/Vazir-Bold.ttf");
  font-family: Vazir-bold;
}
@font-face {
  src: url("fonts/B Titr Bold_0.ttf");
  font-family: BTitr;
}

@font-face {
  src: url("fonts/Vazir-Medium.ttf");
  font-family: vazir-medium;
}

@font-face {
  src: url("fonts/IRANSansWeb.ttf");
  font-family: "iranSans";
}
@font-face {
  src: url("fonts/F_yekan.ttf");
  font-family: "yekan";
}

html{
  font-size: 14px !important;
}

@media (min-width: 320px) and (max-width: 480px) {

  html{
    font-size: 11px !important;
  }
}


.fontNo1{
  font-family: myFont;
}

.iran-sans-font{
  font-family: iranSans;
}
.vazir-font-bold {
  font-family: Vazir-bold;
}
.vazir-font-medium{
  font-family: vazir-medium;
  font-size : inherit !important;
}

.Btitr-font {
  font-family: BTitr;
}

.yekan-font {
  font-family: yekan;
}


.directionRightToLeft{
  direction: rtl;
}

@media only screen and (min-width: 601px) {
  .vertical_align {
    align-items: center;
    display: flex;

  }
}

div .input-field.col {
  width: 100%;
}
.row{
  margin-bottom: 0 !important;
}



i.material-icons{
  cursor: pointer;
}


.inline-display {
  display:inline !important;
}

.progress{
  margin:0 !important;
}

.custom-green-bg{
  background-color: #690 !important;
}