@import "../../tagger/scss/colors";

.authentication-background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: blur(0px);
    background-image: linear-gradient(to left, rgba(102,125,182,.5), rgba(0,130,200,.4), rgba(0,130,200,.45), rgba(102,125,182,.5)),url(../../../assets/png/customer-bg.jpeg);

}

.input-field input:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: $input-color !important;
}

.input-field input:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $input-color !important;
    box-shadow: 0 1px 0 0 $input-color !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: $input-color;
    font-size: inherit;
}

.auth-container{
    border-radius: 10px;
    background: rgba(255,255,255,.95);
    box-shadow: 0px 2px 35px -16px rgba(0,0,0,0.75);
    padding: 0 24px 20px 24px  !important;
}

input[type="checkbox"]:checked + span:not(.lever)::before{border:2px solid transparent;border-bottom:2px solid $input-color;border-right:2px solid $input-color;background:transparent;}


.auth-main{
    overflow-x: hidden;
    overflow-y: hidden;
}

.no-background{
    background: 0;
}

.auth-tab .tabs .tab a:hover, .tabs .tab a.active{
    color: $input-color;
}

.auth-tab .tabs .tab a{
    color: $input-color;
}

.auth-tab .tabs .indicator {
    background-color: $input-color;
}

.auth-tab .tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: inherit ;
}

.preloader-position {
    position: absolute;
    right : 5%;
}

.auth-bg{
    background-image: url("https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    height: 100%;
    position: absolute;
    background-size: cover;
    filter: blur(2px);
}