#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000000;
}

#loader {
  display: block;
  position: relative;
  left: 55%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;


  z-index: 100000001;
  animation: spin 2s linear infinite;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;


    animation: spin 3s linear infinite;
  }

  &:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    border-radius: 50%;

  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  //background-color: black;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  z-index: 1000000000000000;
  transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

#loader {
  display: block;
  width: 100px;
  height: 100px;
  margin: 50 auto;
}

.circ-one {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: rgb(0,156,73);
  border-radius: 100%;
  float: left;
  animation: load-x 1s cubic-bezier(0.445, 0.100, 0.550, 0.900) infinite;
}

.circ-two {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: rgb(0,83,156);
  border-radius: 100%;
  float: right;
  animation: load-y 1s cubic-bezier(0.445, 0.100, 0.550, 0.900) infinite;
}

@keyframes load-x {
  0%   { left: -10px; transform: scale(1); }
  25%  { transform: scale(1.5); z-index: 2; }
  50%  { left: 60px; transform: scale(1); }
  75%  { transform: scale(0.5); z-index: 1; }
  100% { left: -10px; transform: scale(1); }
}

@keyframes load-y {
  0%   { right: -10px; transform: scale(1); }
  25%  { transform: scale(0.5); }
  50%  { right: 60px; transform: scale(1); z-index: 1; }
  75%  { transform: scale(1.5); z-index: 2; }
  100% { right: -10px; transform: scale(1); }
}

#loader p {
  text-align: center;
  font-family: 'Hanna', serif;
  font-weight: 50;
  color:rgba(192,41,66,1);
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  50% { opacity: 0.5; }
}
// Loaded
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateY(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateY(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 0.3s 1s ease-out;
}



//@import url(https://fonts.googleapis.com/css?family=Oxygen);
//@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

* {
  box-sizing: border-box;
}

.preload * {
  transition: none !important;
}